---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?key=563492ad6f9170000100000102d5b122b53d4630b04e432e98fcdd22&page=1&per_page=1&query=hoboken,nj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bec8e7fd89a0d4f9c0fffbc76cc95cea"
      X-Ratelimit-Remaining:
      - '20000'
      X-Server:
      - anteater
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":2977527,"width":5869,"height":3073,"url":"https://www.pexels.com/photo/scenic-photo-of-city-during-evening-2977527/","photographer":"Sanaan
        Mazhar","photographer_url":"https://www.pexels.com/@sanaan","photographer_id":1193942,"avg_color":"#373230","src":{"original":"https://images.pexels.com/photos/2977527/pexels-photo-2977527.jpeg","large2x":"https://images.pexels.com/photos/2977527/pexels-photo-2977527.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/2977527/pexels-photo-2977527.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/2977527/pexels-photo-2977527.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/2977527/pexels-photo-2977527.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/2977527/pexels-photo-2977527.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/2977527/pexels-photo-2977527.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/2977527/pexels-photo-2977527.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"alt":"Scenic
        Photo Of City During Evening"}],"total_results":3,"next_page":"https://api.pexels.com/v1/search/?key=563492ad6f9170000100000102d5b122b53d4630b04e432e98fcdd22\u0026page=2\u0026per_page=1\u0026query=hoboken%2Cnj"}'
  recorded_at: Tue, 18 Jan 2022 02:48:59 GMT
recorded_with: VCR 6.0.0
