---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=hoboken,nj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 18 Jan 2022 17:37:43 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"hoboken,nj"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Hoboken","adminArea5Type":"City","adminArea4":"Hudson
        County","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039391","unknownInput":"","type":"s","latLng":{"lat":40.743464,"lng":-74.029065},"displayLatLng":{"lat":40.743464,"lng":-74.029065},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=40.743464,-74.029065|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1408737872"}]}]}'
  recorded_at: Tue, 18 Jan 2022 17:37:43 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&lat=40.743464&lon=-74.029065&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7435,"lon":-74.0291,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1642527463,"sunrise":1642508197,"sunset":1642542965,"temp":35.73,"feels_like":28.35,"pressure":1012,"humidity":43,"dew_point":17.28,"uvi":1.16,"clouds":100,"visibility":10000,"wind_speed":10,"wind_deg":313,"wind_gust":24,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1642527480,"precipitation":0},{"dt":1642527540,"precipitation":0},{"dt":1642527600,"precipitation":0},{"dt":1642527660,"precipitation":0},{"dt":1642527720,"precipitation":0},{"dt":1642527780,"precipitation":0},{"dt":1642527840,"precipitation":0},{"dt":1642527900,"precipitation":0},{"dt":1642527960,"precipitation":0},{"dt":1642528020,"precipitation":0},{"dt":1642528080,"precipitation":0},{"dt":1642528140,"precipitation":0},{"dt":1642528200,"precipitation":0},{"dt":1642528260,"precipitation":0},{"dt":1642528320,"precipitati[...]
