---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries/search?limit=5&query=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c1d6cf181695ff918e72ef587b96cca"
    body:
      encoding: UTF-8
      string: '[{"id":"denver-beer-co-denver","name":"Denver Beer Co","brewery_type":"micro","street":"1695
        Platte St","address_2":null,"address_3":null,"city":"Denver","state":"Colorado","county_province":null,"postal_code":"80202-1123","country":"United
        States","longitude":"-105.0072502","latitude":"39.7583143","phone":"3034332739","website_url":"http://www.denverbeerco.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"denver-beer-co-canworks-denver","name":"Denver
        Beer Co Canworks","brewery_type":"micro","street":"4455 Jason St","address_2":null,"address_3":null,"city":"Denver","state":"Colorado","county_province":null,"postal_code":"80211-2412","country":"United
        States","longitude":"-105.0008302","latitude":"39.7769429","phone":"7202954781","website_url":null,"updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"odell-brewin[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 19 Jan 2022 17:50:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1315842239"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1982732798"}]}]}'
  recorded_at: Wed, 19 Jan 2022 17:50:43 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642614641,"sunrise":1642601835,"sunset":1642637026,"temp":25.09,"feels_like":25.09,"pressure":1024,"humidity":90,"dew_point":22.86,"uvi":1.23,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":22,"wind_gust":3,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1642614660,"precipitation":0},{"dt":1642614720,"precipitation":0},{"dt":1642614780,"precipitation":0},{"dt":1642614840,"precipitation":0},{"dt":1642614900,"precipitation":0},{"dt":1642614960,"precipitation":0},{"dt":1642615020,"precipitation":0},{"dt":1642615080,"precipitation":0},{"dt":1642615140,"precipitation":0},{"dt":1642615200,"precipitation":0},{"dt":1642615260,"precipitation":0},{"dt":1642615320,"precipitation":0},{"dt":1642615380,"precipitation":0},{"dt":1642615440,"precipitation":0},{"dt":1642615500,"precipitati[...]
