---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=hoboken,nj&quantity=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.174 TT 0 0.192"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 299,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8414432W",
                    "type": "work",
                    "seed": [
                        "/books/OL9398069M",
                        "/works/OL8414432W",
                        "/authors/OL2805973A"
                    ],
                    "title": "Hoboken, NJ",
                    "title_suggest": "Hoboken, NJ",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL9398069M"
                    ],
                    "publish_date": [
                        "September 15, 1999"
                    ],
                    "publish_year": [
                        1999
                    ],
                    "first_publish_year": 1999,
                    "number_of_pages_median": 128,
                    "oclc": [
                        "44950582"
                    ],
                    "isbn": [
                        "9780752408989",
                        "0752408984"
                    ],
                    "last_modified_i": 1304044567,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL9398069M",
                    "cover_i": 1405708,
                    "first_sentence": [
                        "Hoboken has been the location of ferry service from the 18th century."
                    ],
                    "publisher": [
                        "Arcadia Publishing"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2805973A"
                    ],
                    "author_name": [
                        "Patricia Florio Colrick"
                    ],
                    "id_librarything": [
                        "4988758"
                    ],
                    "publisher_facet": [
                        "Arcadia Publishing"
                    ],
                    "_version_": 1715096814953168896,
                    "author_facet": [
                        "OL2805973A Patricia Florio Colrick"
                    ]
                },
                {
                    "key": "/works/OL17758714W",
                    "type": "work",
                    "seed": [
                        "/books/OL26356071M",
                        "/works/OL17758714W",
                        "/authors/OL7395208A"
                    ],
                    "title": "Silver dollars of Latin America ...",
                    "title_suggest": "Silver dollars of Latin America ...",
                    "has_fulltext": true,
                    "edition_count": 1,
                    "edition_key": [
                        "OL26356071M"
                    ],
                    "publish_date": [
                        "1964"
                    ],
                    "publish_year": [
                        1964
                    ],
                    "first_publish_year": 1964,
                    "number_of_pages_median": 59,
                    "last_modified_i": 1501045762,
                    "ebook_count_i": 1,
                    "ia": [
                        "silverdollarsofl00chri"
                    ],
                    "public_scan_b": true,
                    "ia_collection_s": "newmannumismatic;wustl;globallibraries;americannumismaticsociety;americana",
                    "cover_edition_key": "OL26356071M",
                    "cover_i": 8040162,
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL7395208A"
                    ],
                    "author_name": [
                        "Christensen, H. (Hoboken, NJ)"
                    ],
                    "subject": [
                        "Accessible book"
                    ],
                    "subject_facet": [
                        "Accessible book"
                    ],
                    "_version_": 1715080740236951553,
                    "author_facet": [
                        "OL7395208A Christensen, H. (Hoboken, NJ)"
                    ],
                    "subject_key": [
                        "accessible_book"
                    ]
                },
                {
                    "key": "/works/OL17758635W",
                    "type": "work",
                    "seed": [
                        "/books/OL26356006M",
                        "/works/OL17758635W",
                        "/authors/OL7395208A"
                    ],
                    "title": "Mail auction sale ...",
                    "title_suggest": "Mail auction sale ...",
    [...]
