---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=4&q=Hoboken,NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.108 TT 0 0.110"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 299,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8414432W",
                    "type": "work",
                    "seed": [
                        "/books/OL9398069M",
                        "/works/OL8414432W",
                        "/authors/OL2805973A"
                    ],
                    "title": "Hoboken, NJ",
                    "title_suggest": "Hoboken, NJ",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL9398069M"
                    ],
                    "publish_date": [
                        "September 15, 1999"
                    ],
                    "publish_year": [
                        1999
                    ],
                    "first_publish_year": 1999,
                    "number_of_pages_median": 128,
                    "oclc": [
                        "44950582"
                    ],
                    "isbn": [
                        "9780752408989",
                        "0752408984"
                    ],
                    "last_modified_i": 1304044567,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL9398069M",
                    "cover_i": 1405708,
                    "first_sentence": [
                        "Hoboken has been the location of ferry service from the 18th century."
                    ],
                    "publisher": [
                        "Arcadia Publishing"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2805973A"
                    ],
                    "author_name": [
                        "Patricia Florio Colrick"
                    ],
                    "id_librarything": [
                        "4988758"
                    ],
                    "publisher_facet": [
                        "Arcadia Publishing"
                    ],
                    "_version_": 1715096814953168896,
                    "author_facet": [
                        "OL2805973A Patricia Florio Colrick"
                    ]
                },
                {
                    "key": "/works/OL17758714W",
                    "type": "work",
                    "seed": [
                        "/books/OL26356071M",
                        "/works/OL17758714W",
                        "/authors/OL7395208A"
                    ],
                    "title": "Silver dollars of Latin America ...",
                    "title_suggest": "Silver dollars of Latin America ...",
                    "has_fulltext": true,
                    "edition_count": 1,
                    "edition_key": [
                        "OL26356071M"
                    ],
                    "publish_date": [
                        "1964"
                    ],
                    "publish_year": [
                        1964
                    ],
                    "first_publish_year": 1964,
                    "number_of_pages_median": 59,
                    "last_modified_i": 1501045762,
                    "ebook_count_i": 1,
                    "ia": [
                        "silverdollarsofl00chri"
                    ],
                    "public_scan_b": true,
                    "ia_collection_s": "newmannumismatic;wustl;globallibraries;americannumismaticsociety;americana",
                    "cover_edition_key": "OL26356071M",
                    "cover_i": 8040162,
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL7395208A"
                    ],
                    "author_name": [
                        "Christensen, H. (Hoboken, NJ)"
                    ],
                    "subject": [
                        "Accessible book"
                    ],
                    "subject_facet": [
                        "Accessible book"
                    ],
                    "_version_": 1715080740236951553,
                    "author_facet": [
                        "OL7395208A Christensen, H. (Hoboken, NJ)"
                    ],
                    "subject_key": [
                        "accessible_book"
                    ]
                },
                {
                    "key": "/works/OL17758635W",
                    "type": "work",
                    "seed": [
                        "/books/OL26356006M",
                        "/works/OL17758635W",
                        "/authors/OL7395208A"
                    ],
                    "title": "Mail auction sale ...",
                    "title_suggest": "Mail auction sale ...",
    [...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=Hoboken,NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 18 Jan 2022 19:38:37 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Hoboken,NJ"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Hoboken","adminArea5Type":"City","adminArea4":"Hudson
        County","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039391","unknownInput":"","type":"s","latLng":{"lat":40.743464,"lng":-74.029065},"displayLatLng":{"lat":40.743464,"lng":-74.029065},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=40.743464,-74.029065|marker-sm-50318A-1&scalebar=true&zoom=12&rand=302988578"}]}]}'
  recorded_at: Tue, 18 Jan 2022 19:38:37 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&lat=40.743464&lon=-74.029065&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7435,"lon":-74.0291,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1642534717,"sunrise":1642508197,"sunset":1642542965,"temp":36.63,"feels_like":31.06,"pressure":1014,"humidity":41,"dew_point":17.02,"uvi":0.4,"clouds":20,"visibility":10000,"wind_speed":7,"wind_deg":72,"wind_gust":20,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1642534740,"precipitation":0},{"dt":1642534800,"precipitation":0},{"dt":1642534860,"precipitation":0},{"dt":1642534920,"precipitation":0},{"dt":1642534980,"precipitation":0},{"dt":1642535040,"precipitation":0},{"dt":1642535100,"precipitation":0},{"dt":1642535160,"precipitation":0},{"dt":1642535220,"precipitation":0},{"dt":1642535280,"precipitation":0},{"dt":1642535340,"precipitation":0},{"dt":1642535400,"precipitation":0},{"dt":1642535460,"precipitation":0},{"dt":1642535520,"precipitation":0},{"dt":1642535580,"precipitati[...]
