---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&lat=51.5085&lon=-0.1257&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5085,"lon":-0.1257,"timezone":"Europe/London","timezone_offset":0,"current":{"dt":1642463240,"sunrise":1642406263,"sunset":1642436577,"temp":35.42,"feels_like":32.63,"pressure":1039,"humidity":90,"dew_point":32.79,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":3.44,"wind_deg":250,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1642463280,"precipitation":0},{"dt":1642463340,"precipitation":0},{"dt":1642463400,"precipitation":0},{"dt":1642463460,"precipitation":0},{"dt":1642463520,"precipitation":0},{"dt":1642463580,"precipitation":0},{"dt":1642463640,"precipitation":0},{"dt":1642463700,"precipitation":0},{"dt":1642463760,"precipitation":0},{"dt":1642463820,"precipitation":0},{"dt":1642463880,"precipitation":0},{"dt":1642463940,"precipitation":0},{"dt":1642464000,"precipitation":0},{"dt":1642464060,"precipitation":0},{"dt":1642464120,"precipitati[...]
