---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=hoboken,nj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 17 Jan 2022 23:26:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"hoboken,nj"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Hoboken","adminArea5Type":"City","adminArea4":"Hudson
        County","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039391","unknownInput":"","type":"s","latLng":{"lat":40.743464,"lng":-74.029065},"displayLatLng":{"lat":40.743464,"lng":-74.029065},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=40.743464,-74.029065|marker-sm-50318A-1&scalebar=true&zoom=12&rand=702270942"}]}]}'
  recorded_at: Mon, 17 Jan 2022 23:26:18 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&lat=40.743464&lon=-74.029065&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7435,"lon":-74.0291,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1642461978,"sunrise":1642421826,"sunset":1642456495,"temp":35.85,"feels_like":32.52,"pressure":990,"humidity":74,"dew_point":28.81,"uvi":0,"clouds":100,"visibility":4828,"wind_speed":4,"wind_deg":296,"wind_gust":13,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"snow":{"1h":0.42}},"minutely":[{"dt":1642462020,"precipitation":0.4211},{"dt":1642462080,"precipitation":0.4211},{"dt":1642462140,"precipitation":0.4211},{"dt":1642462200,"precipitation":0.4211},{"dt":1642462260,"precipitation":0.3724},{"dt":1642462320,"precipitation":0.3237},{"dt":1642462380,"precipitation":0.275},{"dt":1642462440,"precipitation":0.2263},{"dt":1642462500,"precipitation":0.1776},{"dt":1642462560,"precipitation":0.1651},{"dt":1642462620,"precipitation":0.1527},{"dt":1642462680,"precipitation":0.1402},{"dt":1642462740,"precipitation":0.1278},{[...]
