---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries/search?limit=5&query=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c1d6cf181695ff918e72ef587b96cca"
    body:
      encoding: UTF-8
      string: '[{"id":"denver-beer-co-denver","name":"Denver Beer Co","brewery_type":"micro","street":"1695
        Platte St","address_2":null,"address_3":null,"city":"Denver","state":"Colorado","county_province":null,"postal_code":"80202-1123","country":"United
        States","longitude":"-105.0072502","latitude":"39.7583143","phone":"3034332739","website_url":"http://www.denverbeerco.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"denver-beer-co-canworks-denver","name":"Denver
        Beer Co Canworks","brewery_type":"micro","street":"4455 Jason St","address_2":null,"address_3":null,"city":"Denver","state":"Colorado","county_province":null,"postal_code":"80211-2412","country":"United
        States","longitude":"-105.0008302","latitude":"39.7769429","phone":"7202954781","website_url":null,"updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"odell-brewin[...]
