---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&lat=51.5085&lon=-0.1257&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5085,"lon":-0.1257,"timezone":"Europe/London","timezone_offset":0,"current":{"dt":1642466225,"sunrise":1642492606,"sunset":1642523074,"temp":34.88,"feels_like":32.02,"pressure":1039,"humidity":89,"dew_point":31.98,"uvi":0,"clouds":8,"visibility":10000,"wind_speed":3.44,"wind_deg":230,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1642466280,"precipitation":0},{"dt":1642466340,"precipitation":0},{"dt":1642466400,"precipitation":0},{"dt":1642466460,"precipitation":0},{"dt":1642466520,"precipitation":0},{"dt":1642466580,"precipitation":0},{"dt":1642466640,"precipitation":0},{"dt":1642466700,"precipitation":0},{"dt":1642466760,"precipitation":0},{"dt":1642466820,"precipitation":0},{"dt":1642466880,"precipitation":0},{"dt":1642466940,"precipitation":0},{"dt":1642467000,"precipitation":0},{"dt":1642467060,"precipitation":0},{"dt":1642467120,"precipitati[...]
